{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST" class="form-group">
                <h1>LogIn</h1>
                {% csrf_token %} {{form | crispy}}
                <p>New User?<a href="/register">Create Account</a></p>
                <button type="submit" style="background-color:#ec8246; color: #fff; border: none; padding: .75rem 4.5rem; margin: 2rem 0;">LogIn</button>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

{% endblock content %}