{% load crispy_forms_tags %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <p>change destination address</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
        </form>
    </div>

    <hr>
    <div>
        <label for="destination">Select New Destination:</label>
        <br><br>
        <select id="cars" name="cars">
            <option value=""></option>
            <option value="Nairobi">Nairobi</option>
            <option value="Mombasa">Mombasa</option>
            <option value="Kisumu">Kisumu</option>
            <option value="Nakuru">Nakuru</option>
            <option value="Embu">Embu</option>
        </select>
        <br><br>
        <button>Cancel</button>
        <button type="submit">Submit</button>
    </div>

    
</body>
</html>