<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/all.min.css">
    
    <title>Orders</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home" style="padding-left: 178px; font-size: 30px;">SendIt</a>
      <a href="#menu" style="float: right;">Menu</a>
      <a href="#username" style="float: right;">Username</a>
    </div>
   

    
      
    <div class="container">
      <div class="jumbotron" style="background-color: white;">
        <div class="container">
          <h1>Orders</h1>
          <br>
         
          <table class="table table-light table-striped table-hover" style="width: fill;">
            <thead>
              <tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1980</td>
                <td>20/01/1944</td>
                <td>Nairobi CBD</td>
                <td>Thika, Juja</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>